h2 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px;
  color: #3241b8;
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #6d8391;
  font-size: 25px;
  font-weight: normal;
}
