<div class="container" style="margin-top:1.5rem ">
  <h2 class="fw ">Formularios</h2>

  <div class="row">



    <div class="col" style="padding-top: 1rem">
      <mat-card>
        <mat-card-title>Cancelación de cuentas</mat-card-title>
        <mat-card-content>
          Single Video, Módem en combo y BTCEL en combo.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Nuevo</button>
          <a href="captura/cancelacion">LESGO</a>
        </mat-card-actions>
      </mat-card>
    </div>



    <div class="col" style="padding-top: 1rem">
      <mat-card>
        <mat-card-title>Quejas</mat-card-title>
        <mat-card-content>
          Single Video, Módem en combo y BTCEL en combo.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Nuevo</button>
        </mat-card-actions>
      </mat-card>
    </div>


    <div class="col" style="padding-top: 1rem">
      <mat-card>
        <mat-card-title>Actualización de cuentas</mat-card-title>
        <mat-card-content>
          Single Video, Módem en combo y BTCEL en combo.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Nuevo</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-top: 1rem">
      <mat-card>
        <mat-card-title>Activacion</mat-card-title>
        <mat-card-content>
          Single Video, Módem en combo y BTCEL en combo.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Nuevo</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col" style="padding-top: 1rem">
      <mat-card>
        <mat-card-title>Tickets</mat-card-title>
        <mat-card-content>
          Single Video, Módem en combo y BTCEL en combo.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>Nuevo</button>
        </mat-card-actions>
      </mat-card>
    </div>


  </div>

</div>
