<div class="PageContainer ">

    <div class="MySideBar">
        <div class="logoContainer">
            <div class="logo">
                <img src="../../../assets/sky/SKY-3d.png" alt="">
            </div>
        </div>

        <div class="bar-conatiner">

            <div class="list-items">

                <div class="list-item">
                    <i class="pi pi-home"></i>
                    <a href="/">Home</a>
                </div>

                <div class="list-item">
                    <i class="pi pi-pencil"></i>
                    <a href="/captura">Captura</a>
                </div>

                <div class="list-item">
                    <i class="pi pi-sitemap"></i>
                    <a href="/">Cyber Room</a>
                </div>

                <div class="list-item">
                    <i class="pi pi-chart-bar"></i>
                    <a href="/reportes">Reportes</a>
                </div>

                <div class="list-item">
                    <i class="pi pi-cog"></i>
                    <a href="/configuracion">Configuración</a>
                </div>

                <div class="list-item">
                    <i class="pi pi-bars"></i>
                    <a href="/bitacora">Bitácora</a>
                </div>

            </div>

        </div>
        <!--PAGES-->

    </div>

</div>
