
<div class="px-5 min-h-screen flex justify-content-center align-items-center" >

  <video src="../../../../assets/videos//hands.mp4" autoplay="true" muted="true" loop="true"  type="video/mp4" style="width: auto; height: 125%; position:fixed; z-index: -1" ></video>

	<form  [formGroup]="formLogin"
		
		class="border-1 surface-border  border-round py-7 px-4 md:px-7 z-1"
		autocomplete="off" style="background-color: rgba(0,0,0,0.2);">
<!-- <pre>{{formLogin.get('usuario')?.errors != null ? 'ng-invalid' : ''}}</pre> -->

		<div class="mb-4" >
			<div class="text-900 text-xl font-bold mb-2">Log in</div>
			<span class="text-600 font-medium">
				Por favor ingrese sus credenciales
			</span>
		</div>
		<div class="flex flex-column">
			<span class="p-input-icon-left w-full mb-4 field p-fluid" >
				<i class="pi pi-envelope"></i>
				<input id="email"
					formControlName="email"
					type="email"
					pInputText
					[class]="'w-full md:w-25rem'"

					placeholder="Email" style="background-color: rgba(255, 255, 255,0.3); "><br>
        <error-message [errors]="formLogin.get('email')?.errors"></error-message>

			</span>
			<span class="p-input-icon-left w-full mb-4" >
				<i class="pi pi-lock"></i>
				<input id="password"
					type="password"
					pInputText
					formControlName="pWd"
					class="w-full md:w-25rem"
					placeholder="Contraseña" style="background-color: rgba(255, 255, 255,0.3); ">
			</span>
			<div class="mb-4 flex flex-wrap gap-3">
				<div>
					<p-checkbox formControlName="remember"
						[binary]="true"
						name="checkbox"
						value="val"
						styleClass="mr-2"></p-checkbox>
					<label for="checkbox"
						class="text-900 font-medium mr-8">
						Recordar Usuario
					</label>
				</div>
				<a class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300">
					Olvide mi contraseña
				</a>
			</div>
			<button (click)="onSignIn()"
				pButton

				label="Log In"
				class="w-full"style="background-color: rgba(255, 25, 15,0.5); border: 1px solid"></button>
		</div>

	</form>
</div>
